<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h1 class="text-center my-4" style="font-weight: bold;">Edit Message</h1>
      <div class="well p-4 mb-4 shadow-sm rounded-3" style="background: var(--app-body-bg); box-shadow: 0 4px 15px var(--app-bar-shadow);">
        <%= form_with model: @contact, local: true do |form| %>
        <div class="mb-3">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: "form-control", disabled: true %>
        </div>
        <div class="mb-3">
          <%= form.label :email, class: "form-label" %>
          <%= form.email_field :email, class: "form-control", disabled: true %>
        </div>
        <div class="mb-3">
          <%= form.label :message, class: "form-label" %>
          <%= form.text_area :message, class: "form-control", rows: 5 %>
        </div>
        <div class="d-flex justify-content-between">
          <%= form.submit "Update Message", class: "btn form-submit"%>
          <%= link_to "Cancel", @contact, class: "btn btn-secondary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>